html {
    background-color: #22123a;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/img/image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

body {
    background-color: transparent;
}

.txt-center {
    text-align: center;
    color: white;
    font-size: 30px;
}

.txt {
    margin-top: 40px;
    text-align: center;
    color: #988e97;
    font-size: 16px;
    text-decoration: underline;
    font-family: "Lucida Console", "Courier New", monospace;
}

.registration-cssave {
    padding: 50px 0;
}

    .registration-cssave form {
        max-width: 800px;
        padding: 50px 70px;
        border-radius: 10px;
        box-shadow: 1px 2px 1px 2px #552888;
        background-color: #28114a;
    }

        .registration-cssave form h3 {
            color: white;
            margin-top: 30px;
            margin-left: 20px;
            font-size: 16px;
            text-align: left;
            font-family: "Lucida Console", "Courier New", monospace;
        }

    .registration-cssave .item {
        border-radius: 30px;
        padding: 20px 0px;
        font-size: 18px;
        background-color: #28114a;
        border: solid;
        border-width: 2px;
        border-color: white;
        color: white;
    }

    .registration-cssave .create-account {
        border-radius: 30px;
        padding: 15px 100px;
        font-size: 18px;
        background-color: #825dcd;
        border: none;
        color: white;
        margin: -20px -60px;
        position: relative;
        margin-top: 20px;
        left: 30%;
    }


@media (max-width: 576px) {
    .registration-cssave form {
        padding: 50px 20px;
    }
}
