.disco-navbar {
    background-color: #29193E;
}

.navbar-nav > .active > a {
    color: orange;
    background-color: transparent;
}

.nav-item > a:hover {
    color: orange;
}


.disco-navbar__brand {
    font-family: 'Colonna MT', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    background: linear-gradient(37.66deg, #FFF170 -1.12%, #DE871F 57.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px 4px 7px rgba(160, 68, 255, 0.7);
    text-align: center;
}

.disco-navbar__ul{
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.disco-navbar__a {
    color: #E6E0D2;
    font-size : 20px;
}
