@page "/users"
@using Microsoft.AspNetCore.Authorization

@inherits UsersListModel

@attribute [Authorize]

<link rel="stylesheet" href="/css/user.css"/>

<div class="container-fluid">
    <div class="row">
        <h1>Users</h1>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="list-group list-group-light">
                <li class="list-group-item d-flex justify-content-between align-items-center user-body">
                    <div style="display: flex;">
                        <img style="margin-right : 20px" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" width="50" height="50" />
                        <div>
                            <div class="fw-bold user-body__span">John Doe</div>
                            <div class="text-muted user-body__span">john.doe@gmail.com</div>
                        </div>
                    </div>
                    <span class="badge rounded-pill badge-success">Active</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center user-body">
                    <div style="display: flex;">
                        <img style="margin-right : 20px" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" width="50" height="50" />
                        <div>
                            <div class="fw-bold user-body__span">John Doe</div>
                            <div class="text-muted user-body__span">john.doe@gmail.com</div>
                        </div>
                    </div>
                    <span class="badge rounded-pill badge-success">Active</span>
                </li>
            </ul>
        </div>
    </div>
</div>