<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=tcp:disco-dev-sql-srv.database.windows.net,1433;Initial Catalog=disco-sql-db;Persist Security Info=False;User ID=discosa;Password=cJM23H87;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>
</configuration>