@{
    Layout = null;
}
<link href="https://fonts.cdnfonts.com/css/colonna-mt" rel="stylesheet">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
<link rel="stylesheet" href="~/css/login.css" type="text/css"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 login">
            <form id="target" method="post" class="login-form">
                <div class="form-group login-form__group">
                    <h3 class="login-form__h3">DISCO</h3>
                </div>
                <div class="form-group login-form__group">
                    <label class="col-11 form-label login-form__label">E-mail</label>
                    <input name="Email" id="email" type="email" class="offset-1 form-control login-form__input offset-1" />
                </div>
                <div class="form-group login-form__group">
                    <label class="offset-5 form-label login-form__label offset-5">Password</label>
                    <input name="Password" id="password" type="password" class="offset-1 form-control login-form__input offset-1" />
                </div>
                <div class="form-group login-form__group">
                    <input id="login-button" type="button" class="offset-2 form-control login-form__submit offset-3" value="Log In"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/login.js"></script>