@inherits LayoutComponentBase
<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/bootstrap/LogIn.css" rel="stylesheet" type="text/css" />
<body>
    @Body
</body>

@code {

}
