@inherits LayoutComponentBase

<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/css/login.css" rel="stylesheet" />
<link href="https://www.dafontfree.net/embed/Y29sb25uYS1tdC1yZWd1bGFyJmRhdGEvMjQvYy8xMTkxMTEvQ29sb25uYU1ULnR0Zg" rel="stylesheet" type="text/css" />

<body>
    @Body
</body>
