@inherits LayoutComponentBase

<link href="css/navmenu.css" rel="stylesheet"/>

<div class="page">
    <div class="nav-menu sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
